<section class="article-layout {{ style }}">
  <article>
    <h2>{{title}}</h2>
    <p>
     {{content}}
    </p>
    {% if button == true %}
      {% include './partials/link.liquid', link: '#', text: 'Lees meer', style: 'primary-button' %}
    {% endif %}
    <figure>
      <img src="{{imgURL}}" alt="imgALT">
    </figure>
  </article>
</section>
