<section class="article-layout {{ style }}">
  <article>
    <h2>{{ title }}</h2>
    <p>
      {{ content }}
    </p>
    {% if button == true %}
      {% include './partials/link.liquid', link: '#', text: 'Lees meer', style: 'primary-button' %}
    {% endif %}

    {% render './partials/picture.liquid',
      imgURL: imgURL,
      imgALT: imgALT,
      imgHeight: 300,
      imgWidth: 300,
      loading: 'lazy'
    %}


  </article>
</section>
