<section class="news-article">
  <article>
    <h2 class="title">{{ title }}</h2>
    <p class="date">
      {{ date | date: '%A %d %B  %Y' }}
    </p>
    {{ content }}
    <p class="author">Geschreven door: <span>{{ author }}</span> </p>
  </article>
</section>
