{% assign link = '/nieuws/' | append: uuid %}

<article class="news-preview-small">
  <h2>{{ title }}</h2>
  <p>{{ preview | truncate: 75 }}</p>

  {% include './partials/picture.liquid',
    imgURL: imgURL,
    imgALT: imgALT,
    height: imgHeight,
    width: imgWidth,
    loading: loading,
  %}
  {% include './partials/link.liquid', link: link, text: 'Meer informatie', style: 'primary-button' %}
</article>
