<section class="quote-layout">
  <article>
    <h2>{{ title }}</h2>
    <blockquote>
      <cite>
        {{ quote }}
      </cite>
      <br>
      <p>
        {{ author }}
      </p>
    </blockquote>
  </article>
</section>
