{% render 'partials/head.liquid', title: 'nieuws', path: path %}

{% include 'partials/article.liquid',
  style: 'banner',
  content: 'Op deze pagina vind je updates en korte verslagen van georganiseerde evenementen.',
  title: 'Nieuws pagina',
  imgURL: 'https://adconnect.dev.fdnd.nl/_app/immutable/assets/heronews.7CmszSLI.webp',
  imgALT: 'news banner'
%}

{% include 'partials/news-preview-big.liquid',
  title: news[0].title,
  preview: news[0].description,
  body: news[0].body,
  imgURL: news[0].hero,
  imgALT: news[0].title,
  uuid: news[0].uuid,
  imgHeight: 300,
  imgWidth: 300
%}

<h2>Alle nieuws</h2>
<section class="news-list">
  {% for article in news offset: 1 %}
    {% include 'partials/news-preview-small.liquid',
      title: article.title,
      preview: article.description,
      body: article.body,
      imgURL: article.hero,
      imgALT: article.title,
      uuid: article.uuid,
      imgHeight: 300,
      imgWidth: 300,
      loading: 'lazy'
    %}
  {% endfor %}
</section>

{% render 'partials/foot.liquid' %}
